/* ==========================================================================
   Colors
   ========================================================================== */
:root {
    --color-title: #bf282d;
    --color-subtitle: #316c3a;
    --color-topLine: #ffffff;
    --color-bottomLine: #ffffff;
    --color-date: #ffffff;
    --color-clock: #ffffff;
    --color-xlDummy: #ffffff;
    --color-lDummy: #ffffff;
    --color-mDummy: #ffffff;
    --color-sDummy: #ffffff;
    --color-deskNumberOff: #ffffff;
    --color-deskNumberOn: #ffffff;
    --color-deskBgOff: #ffffff;
    --color-deskBgOn: #ffffff;
    --color-deskBorder: #ffffff;
}